@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body{
    background-color: #F7FAFD;
    font-family: 'Plus Jakarta Sans';
    margin: 0;
    padding: 80px;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: cente;
}

*{
    box-sizing: border-box;
    transition: 0.2s;
}

.container{
    height: auto;
    width: 730px;
    background-color: white;
    box-shadow: 0px 20px 60px #4961A80D;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.notifs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.head{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head h1{
    font-weight: 800;
    font-size: 24px;
    width: 196px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head span{
    padding: 3px 12px;
    border-radius: 6px;
    background-color: #0A327B;
    color: white;
    font-weight: 800px;
    font-size: 16px;
}

.info{
    cursor: pointer;
}

.info:hover{
    color: #0A327B;
}

.read{
    font-weight: 500;
    font-size: 16px;
    color: #5E6778;
    cursor: pointer;
}

.read:hover{
    color: #0A327B;
}

.post{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.time{
    font-weight: 500;
    font-size: 16px;
    color: #939CAD;
}

.notification{
    width: 100%;
    height: 80px;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}

.pfp{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-right: 20px;
}


.actual{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.actual h1{
    font-weight: 800;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
}

.actual h1:hover{
    color: #0A327B;
}

.actual p{
    font-weight: 500;
    font-size: 16px;
    color: #5E6778;
    margin: 0;
}

.actual span{
    font-weight: 800;
    size: 16px;
    color: #5E6778;
    margin: 0;
}

.line1{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
}

.line2{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.line2 p{
    margin: 0;
}

.rizky{
    height: 192px;
}

.message{
    height: 97px;
    width: 566px;
    border: solid 1px #DDE7EE;
    padding: 20px;
    font-weight: 500;
    font-size: 16px;
    color: #5E6778;
    cursor: pointer;
    transform: translateY(10px);
}

.message:hover{
    background-color: #DDE7EE;
}

.pfp4{
    transform: translateY(-130%);
}

.image{
    height: 45px;
    width: 45px;
    border-radius: 7px;
    position: absolute;
    right: 30px;
    top: 15px;
}